<style type="text/css">
  p {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    color: red;
  }
  .nav li{
    display: inline-block;
  }
</style>
<div ng-controller='dashBoardController'>
    <h1>Welcome</h1>
     <label>Search: <input ng-model="searchText"></label>
        <p ng-hide ="TError">{{customerError}}</p>
      <table>
        <tr>
          <th>Topic</th>
          <th>User Name</th>
          <th>Posts</th>
        </tr>
        <tr ng-repeat="topic in topics | filter:searchText track by $index ">
          <td><a href="#!/topic/{{topic._id}}">{{ topic.topic }}</a></td>
          <td><a href="#!/user/{{topic._user._id}}">{{ topic._user.email }}</a></td>
          <td>{{ topic.postCount }}</td>
        </tr>
      </table>
      <h3>Add a new Topic</h3>
      <form ng-submit = "addTopic();">
        Topic : <input type = "text" ng-model = 'topic.topic' ng-minlength = '1' required>
        Description: <textarea ng-model = "topic.description"></textarea>
        <input type = "submit" value = "Submit">
      </form>
</div>